@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --bgColor: #0c0c0c;
  --foreColor: #f1f1f1;
  --foreShadowColor: #f1f1f1d9;
  --shadowColor: #f1f1f19d;
  --bgShadowColor: #0c0c0c9d;
  --bgH2Color: #111111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
  min-width: none;
}

body {
  background-color: var(--bgColor);
  color: var(--foreColor);
  height: 100vh;
}

.interface {
  max-width: 1920px;
  margin: 0 auto;
}

.flex,
.flex-flex {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 45px;
}

h2.titulo {
  font-size: 38px;
}